<%- include('./partials/head') %>

<article>

  <p><%= data.name %> <%= data.prefix %> <%= data.surname %> <%= data.avatar %></p>
  <ul>
    <li>
      <a href="https://github.com/<%= data.github_handle %>" target="_blank"></a>
    </li>
    <li>
      <a href="mailto:<%= data.email %>"></a>
    </li>
    <li>
      <a href="tel:<%= data.phone_number %>"></a>
    </li>
  </ul>
  
</article>

<%- include('./partials/foot') %>
