<%- include('./partials/head') %>

<article>
  <div><span> <%=data.name%> <%=data.surname%> </span></div>  
  <div><span> <%=data.email%> </span></div>  
  <div><span> <%=data.github_handle%> </span></div>  
  <div><span> <%=data.website%> </span></div>  
  <div><span> <%=data.avatar%> </span></div>  
  <div><span> <%=data.phone_number%> </span></div>  
</article>

<%- include('./partials/foot') %>
