<%- include('./partials/head') %>

<header class="header">
  <h1 class="name"><%= data.name %></h1>
  <div class="links">
    <a class="link" href="https://github.com/<%= data.github_handle %>" target="_blank">GitHub</a>
    <a class="link" href="https://<%= data.website %>" target="_blank">Website</a>
  </div>
</header>

<section class="favorite-color">
  <p class="color-box" style="background-color: <%= data.fav_color %>;">
    Favorite color: <%= data.fav_color %>
  </p>

  <form method="POST" action="/" class="color-form">
    <label for="fav_color">Achtergrond kleur:</label>
    <input type="color" id="fav_color" name="fav_color" value="<%= data.fav_color %>">
    <button type="submit" class="button">Save color</button>
  </form>
</section>
<section class="json-data">
  <h2>JSON Data</h2>
  <pre><%= JSON.stringify(data, null, 2) %></pre>
</section>

<%- include('./partials/foot') %>
