<%- include('./partials/head') %>

<h1><%= data.name %></h1>

<!-- Color preview -->
<p style="background-color: <%= data.fav_color %>; padding: 1em;">
  Favorite color: <%= data.fav_color %>
</p>

<!-- Color picker form -->
<form method="POST" action="/">
  <label for="fav_color">Pick a new color:</label>
  <input type="color" id="fav_color" name="fav_color" value="<%= data.fav_color %>">
  <button type="submit">Save color</button>
</form>

<%- include('./partials/foot') %>
