<%- include('./partials/head') %>

<%
// Extract the last three characters of data.name and store them in example
const example = data.name.slice(-3);
%>

<article>
  <div><span> <%= data.name.charAt(0) %> </span></div>  
  <div><span> <%= data.name.charAt(1) %> </span></div>  
  <div><span> <%= data.name.charAt(2) %> </span></div>  
  <div><span> <%= data.name.charAt(3) %> </span></div>  
  <div><span> <%= data.name.charAt(4) %> </span></div>  
  <div><span> <%= data.name.charAt(5) %> </span></div>  
</article>

<%- include('./partials/foot') %>
